<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('partials/head.html') %> 
</head>
<body>
    <%- include ('partials/navigation.html') %> 
    <div class="container">
        <header class="row">
            <div class="col-lg-12-text-center">
                <img src="/img/pews-logo.png" class="animate__flipInY" alt="">
            </div>
        </header>
    </div>

    <!--Section one-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum at quibusdam culpa vel maiores vero delectus non exercitationem dolorum, soluta laboriosam odio doloremque ipsa, temporibus itaque. Quidem voluptates amet delectus?</p>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.html') %> 
</body>
</html>